@model IEnumerable<_3_Asp.Net_MVC.Models.BillDetail>

@{
    Layout = "~/Views/Shared/LayoutForAdmin.cshtml";
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    ViewData["Title"] = "BillDetails";
    ShoppingDBContext context = new ShoppingDBContext();
    List<Product> products = context.Products.ToList();
    List<Bill> bills = context.Bills.ToList();
    int index = 0;
    var bill = ViewData["BillID"] as Bill;
}
<h2>Chi tiết hóa đơn</h2>

<div class="container">
    <h6><strong>Mã hóa đơn: </strong> <span style="color:red; text-align:left;margin-top:20px">@bill.ID</span></h6>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="table-wrap" style="text-align:center">
            <table class="table table-responsive table-borderless">
                <thead>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Ảnh</th>
                <th>Số lượng</th>
                <th>Giá</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var pro = @products.Where(c => c.ID == @item.ProductID).FirstOrDefault();
                        index = index + 1;
                        <tr class="align-middle alert border-bottom" role="alert">
                            <td>@index</td>
                            <td>
                                <b>@pro.ProductName</b>
                            </td>
                            <td>
                                @if (@pro.Image != null)
                                {
                                    <img class="pic" src="~/productimages/@pro.Image" />
                                }
                                else
                                {
                                    <img class="pic" src="~/productimages/null.jpg" />
                                }
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td style="color:red">
                                @item.Price.ToString("n0") VND
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <h5>THÔNG TIN NGƯỜI NHẬN</h5>
    <div>
        <div class="table-wrap" style="text-align:center">
            <table class="table table-responsive table-borderless">
                <thead>
                <th>Người nhận</th>
                <th>SĐT</th>
                <th style="width:300px">Địa chỉ</th>
                </thead>
                <tbody>
                    <tr class="align-middle alert border-bottom" role="alert">
                        <td>@bill.Recipient</td>
                        <td>@bill.PhoneNumber</td>
                        <td>@bill.Address</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    <a href="/Admin/Bill/ListBills" class="btn btn-primary" type="button" style="height: 45px;color:#fff"><i class="fa-solid fa-chevron-left"></i>Trở lại trang trước</a>
</p>

